.stdBlock {
  scale: 0.1;

  margin-top: -200px;
  margin-left: -20px;
  height: 400px;
  width: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.cardBlock{
  width: 124vmin;
  height: 160vmin;
}

.hp_num{
  color: black;
  position: relative;
  top: -13vmin;
  left: 14%;
  font-size: 500%;
}

.atk_num{
  color: black;
  position: relative;
  top: -20vmin;
  left: 83%;
  font-size: 500%;
}

/*.mainWindow {*/
/*  background-image: url("./img/Boris_mk2.png");*/
/*}*/

.rightBlock {
  position: absolute;
  right: 15vmin;
  scale: 0.2;
  height: 20px;
  width: 20px;
}

.bigkostyl {
  font-size: 500%;
}

.card {transition: 0.2s}
.card:hover {scale: 2;}