.enemy-hand {
  scale: 0.2;

  /*change this*/
  margin-top: -550px;
  margin-left: -900px;


  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.player-hand {
  scale: 0.2;

  /*change this*/
  margin-top: -500px;
  margin-left: -300px;


  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.player-table {
  scale: 0.2;

  /*change this*/
  margin-top: -500px;
  margin-left: -300px;


  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.enemy-table {
  scale: 0.2;

  /*change this*/
  margin-top: -500px;
  margin-left: -300px;


  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card{
  width: 135vmin;
  height: 175vmin;

}

.hp_num{
  position: relative;
  top: -19vmin;
  left: 21.6%;
  font-size: 500%;

}

.atk_num{
  position: relative;
  top: -26vmin;
  left: 74.5%;
  font-size: 500%;

}
.card_div {transition: 0.2s}
.card_div:hover {scale: 2;}