.stdBlock {
  scale: 0.2;

  /*change this*/
  margin-top: -200px;
  margin-left: -50px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.cardBlock{
  width: 150vmin;
  height: 157vmin;
}

.hp_num{
  position: relative;
  top: -19vmin;
  left: 21.6%;
  font-size: 500%;
}

.atk_num{
  position: relative;
  top: -26vmin;
  left: 74.5%;
  font-size: 500%;
}